.mapSelector {
  position: fixed;
  z-index: 2;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  @media (max-width: 600px) {
    bottom: 8px;
    padding: 10px;
    width: calc(100% - 16px);
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .wrapper {
    display: flex;
    gap: 16px;
    @media (max-width: 600px) {
      gap: 10px;
      width: 100%;
    }
    > div {
      width: 100px;
      height: 60px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      border-radius: 8px;
      cursor: pointer;
      transition: opacity 0.25s;
      font-size: 14px;
      @media (max-width: 600px) {
        width: 100%;
      }
      &:hover {
        opacity: 0.8;
      }
      > img {
        width: 20px;
      }
    }
  }
}
