.marker {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 17px;
    height: 17px;
  }
  img {
    width: 60%;
    height: 60%;
  }
}
